extends ../layout/index
block contenido
	main.container.mt-5
		.row
			.col-md-5
				img.img-fluid(src="img/nosotros.jpg",alt="Imagen de nosotros")
			.col-md-7
				h1= pagina
				blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rutrum ultrices massa. Curabitur et lectus tincidunt, placerat est tincidunt, fermentum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
				p Morbi eleifend vitae turpis eu sagittis. Aenean convallis, velit eget efficitur scelerisque, turpis ligula lobortis diam, interdum blandit sapien massa sit amet lectus.
				p  Cras congue mauris pretium sapien gravida tincidunt. Morbi erat elit, feugiat sit amet pulvinar nec, bibendum in lectus.
	.listado-iconos
		.container.mt-5.py-5.text-center
			.row
				.col-md-4
					img(src="img/icono_seguridad.svg",class="img-fluid mb-4")
					h2.mb-4 Seguridad
					p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer viverra egestas porta. Maecenas non volutpat augue.
				.col-md-4
					img(src="img/icono_destinos.svg",class="img-fluid mb-4")
					h2.mb-4 Destinos
					p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer viverra egestas porta. Maecenas non volutpat augue.
				.col-md-4
					img(src="img/icono_precios.svg",class="img-fluid mb-4")
					h2.mb-4 Mejor Precio
					p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer viverra egestas porta. Maecenas non volutpat augue.


